@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.box {
  width: 200px;
  height: 200px;
}

.box1 {
  background-color: rgb(255, 74, 74);
}
.box2 {
  background-color: rgb(121, 255, 121);
}
.box3 {
  background-color: rgb(121, 121, 254);
}
.box4 {
  background-color: rgb(255, 154, 118);
}
.box5 {
  background-color: rgb(98, 255, 200);
}

.horizontal {
  width: 100vw;
  height: 100vh;
}

section {
  height: 50vh;
}

.dot {
  width: 30px;
  height: 30px;
  background-color: coral;
  border-radius: 20px;
}

/* SVG */

.st0 {
  fill: #fff7d9;
}
.st1 {
  fill: #ffc400;
}
.st2 {
  fill: #ff2f00;
}
.st3 {
  fill: #2228b3;
}
.st4 {
  fill: #009245;
}
.st5 {
  fill: #45aace;
}
.st6 {
  fill: #e02828;
}
.st7 {
  fill: #ff2e2e;
}
.st8 {
  fill: #d61e1e;
}
.st9 {
  fill: url(#SVGID_1_);
}
.st10 {
  fill: #0d0b30;
}
.st11 {
  fill: #ffffff;
}
.st12 {
  fill: #d6d6d6;
}
.st13 {
  fill: #cccccc;
}
.st14 {
  fill: #f0f0f0;
}
.st15 {
  fill: #494ed1;
}
.st16 {
  fill: #fab594;
}
.st17 {
  fill: #1fddff;
}
.st18 {
  fill: #0aabe0;
}
.st19 {
  fill: #e61e64;
}
.st20 {
  fill: #a8023d;
}
.st21 {
  fill: url(#SVGID_2_);
}

/* scrolltrigger/multiple page */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap");

* {
  position: relative;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
  margin: 0;
  background: #263238;
}

.banner {
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  min-height: 300px;
}

.background {
  filter: brightness(1);
  min-width: 400px;
  width: 100%;
  height: 100%;

  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
}

.miata {
  background-image: url("https://assets.codepen.io/32887/miata.jpg");
}

.gti {
  background-image: url("https://assets.codepen.io/32887/gti.jpg");
}

.cayman {
  background-image: url("https://assets.codepen.io/32887/caymans.jpeg");
}

.supra {
  background-image: url("https://assets.codepen.io/32887/supra.jpg");
}

.foreground {
  position: absolute;
  padding: 25px;
}

h1,
h2 {
  text-shadow: 3px 3px 6px black;
  letter-spacing: 1px;
}

.content {
  font-family: sans-serif;
  padding: 50px;
  line-height: 1.6em;
  font-size: 1.3em;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
  color: #333;
  font-size: 10vw;
}
